.Chat{
    display: flex;
    flex-direction: column;
}
.Chat_history{
    background-color: rgb(241, 233, 222);
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}
#Chat_header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex: 1;
}
.ChatRoom_info{
    margin-bottom: 8px;
    margin-left: 15px;
}
.Chat_footer{
    display: flex;
    padding: 10px;
}
.Chat_footer > form{
    flex: 1;
}
.Chat_footer > form > input{
    border-radius: 10px;
    border: none;
    flex: 1;
    outline-width: 0px;
    padding: 10px;
    width: 98%;
}
#enter{
    display: none;
}